
$app4l-primary-color: #2d75c7;
$app4l-secondary-color: #2d75c7;
$app4l-helper-color:#3FD1CB;
$app4l-bg-color:#f7f7f7;
$app4l-cta-color:#3FD1CB;


/* vendor prefixes */
$chrome :'-webkit';
$ie : '-ms-';
$moz : '-moz-';
$opera : '-o-'
